Django==5.0.6
django-summernote==0.8.20.0
django-ninja==1.2.1
django-imagekit==5.0.0
django-filter==24.2
python-decouple==3.8
psycopg2-binary==2.9.9
django-cors-headers==4.4.0
django-cleanup==8.1.0
cloudinary==1.41.0
django-cloudinary-storage==0.3.0